<% @page_title = "New Section" %>

<%= link_to('<< Back to List',{action:'index'},class:'btn btn-sm btn-dark') %>

<div class="sections new">
	<h2>Section New</h2>


	<%= form_for(:section,url:{action:'create'}) do |f| %>

		<%= render(partial:'form',locals:{f:f}) %>

		<div class="form-buttons">
			<%= submit_tag("Create Section", class:"btn btn-primary") %>
		</div>

	<% end %>


</div>