<% @page_title = 'Delete Page' %>

<%= link_to('<< Back to List',{action:'index'},class:'btn btn-sm btn-dark') %>

<div class="pages delete">
	
	<h2>Delete Pages</h2>

	<%= form_for(:page,url:{action:'destroy'},id:@page.id) do |f| %>
	
		<p>Are you sure Delete this Page ?</p>

		<p class="reference-name"><%= @page.name %></p>

		<div class="form-buttons">
			<%= submit_tag('Delete Page' , class:'btn btn-danger') %>
		</div>

	<% end %>

</div>