<% @page_title = 'Edit Page' %>

<%= link_to('<< Back to List',{action:'index'},class:'btn btn-sm btn-dark') %>

<div class="pages edit">
	
	<h2>Edit Page</h2>

	<%= form_for(:page,url:{action:'update',id:@page.id}) do |f| %>

	<%= render(partial:'form',locals:{f:f}) %>

	<%= submit_tag('Update Page', class:"btn btn-primary") %>

	<% end %>

</div>